@use "sass:color";
@use "@/assets/styles/variables" as *;
@use "@/assets/styles/abstracts/mixins" as *;

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

.fetching-drinks .loader {
  width: 100%;
  padding: 18%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

.fetching-drinks {
  background-color: color.adjust($accent-color, $lightness: 50%, $saturation: -20%);
  margin-bottom: $spacing-xl;
  .inside {
    display: grid;
    grid-template-columns: 110px 1fr;
    align-items: center;
    gap: $spacing-md;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: $border-radius-md;
  }
  .loading-header {
    grid-column: span 2;
    font-size: 115%;
    font-weight: 625;
    color: rgba(0, 0, 0, 0.5);
  }
  .steps {
    text-align: left;
    font-size: 0.875rem;
    font-weight: 550;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.25em;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    &.complete {
      opacity: 0.65;
      &:before {
        content: "";
        width: 25px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: $accent-color;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z' stroke='black' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
      }
    }
    &.incomplete {
      opacity: 0.75;
      &:before {
        content: "";
        width: 20px;
        padding: 5px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: #25b09b;
        --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
        -webkit-mask: var(--_m);
        mask: var(--_m);
        -webkit-mask-composite: source-out;
        mask-composite: subtract;
        animation: l3 1s infinite linear;
      }
    }
  }
}
