@use "sass:color";
@use "@/assets/styles/variables" as *;

.app-footer {
  background: $dark-bg;
  color: $text-light;
  padding: $spacing-sm 0;
  text-align: right;
  font-size: 0.875rem;
  p {
    margin: 0;
    opacity: 0.8;
  }
  a {
    color: $yellow;
    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }
}
