@use "sass:color";
@use "@/assets/styles/variables" as *;

.app-header {
  // background: #ff512f; /* fallback for old browsers */
  // background: -webkit-linear-gradient(45deg, #ff512f, #f09819); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(-112deg, #ff512f, #f09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: linear-gradient(to left, #41295a, #2f0743);
  background-color: #152331;
  background: linear-gradient(113deg, #152331, #000000);
  color: $text-light;
  padding-top: $spacing-md;
  box-shadow: $shadow-lg;

  .name-holder {
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
  }

  button.hamburger {
    aspect-ratio: 1;
    // background-color: lime;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -webkit-tap-highlight-color: transparent;
    span {
      background-color: white;
      height: 4px;
      border-radius: 2px;
      transition:
        rotate 0.4s ease,
        translate 0.4s ease 0.4s,
        opacity 0.4s ease 0.4s;
    }

    &.active {
      span:nth-child(1) {
        translate: 0 13px;
        rotate: 45deg;
        transition:
          translate 0.4s ease,
          rotate 0.4s ease 0.4s;
      }
      span:nth-child(2) {
        translate: -20px 0; // Small nudge left before disappearing
        opacity: 0;

        // Hide quickly so it's gone before the others rotate
        transition:
          translate 0.3s ease,
          opacity 0.3s ease;
      }
      span:nth-child(3) {
        translate: 0 -13px;
        rotate: -45deg;
        transition:
          translate 0.4s ease,
          rotate 0.4s ease 0.4s;
      }
    }
  }

  .site-name {
    margin: 0;
    font-size: 2.15rem;
    margin-bottom: $spacing-sm;
    font-weight: 300;
    a {
      color: $text-light;
      &:hover,
      &:focus-visible {
        color: $primary-color;
      }
    }
  }

  p {
    margin: 0;
    opacity: 0.9;
    font-size: 1.125rem;
  }
  .nav-holder {
    background-color: rgba(0, 0, 80, 0.1);
  }
  nav {
    padding: 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: $spacing-lg;
    row-gap: $shadow-sm;
    margin-top: $spacing-md;
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
    a {
      padding: 0.5em 1em;
      color: $primary-color;
      transition: all 0.25s linear;
      &:hover,
      &:focus-visible,
      &.active {
        background-color: rgba(0, 0, 0, 0.9);
        color: $yellow;
      }
    }
  }
}

@media (min-width: 768px) {
  .app-header {
    .name-holder {
      grid-template-columns: 1fr;
    }
    .hamburger-holder {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .app-header {
    nav {
      padding: 0;
      margin: 0;
      flex-direction: column;
      a.active {
        order: 1;
      }
      a:not(.active) {
        order: 2;
      }
    }
    .nav-holder {
      interpolate-size: allow-keywords;
      overflow: hidden;
      height: 0;
      transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      &.visible {
        height: auto;
      }
    }
  }
}
