// Color Palette
$primary-color: #f4a261;
$secondary-color: #e76f51;
$accent-color: #2a9d8f;
$dark-bg: #264653;
$light-bg: #f8f9fa;
$text-dark: #212529;
$text-light: #f8f9fa;
$border-color: #dee2e6;
$yellow: #e4e72c;
$white: white;

$tag-bg: #e5e6e9;
$tag-fg: #030f27;

$color-available: #047c2c;
$color-unavailable: #745d5d;

// Typography
$font-primary:
  "Inter",
  system-ui,
  -apple-system,
  sans-serif;
$font-heading: "Lora", "Georgia", "Garamond", "Times New Roman", serif;

// Spacing
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Container
$container-max-width: 1400px;
$height-minus-chrome: calc(100dvh - 260px);

// Border Radius
$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;
$border-radius-lg: 1rem;

// Shadows
$shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
