// Global styles
@use "sass:color";
@use "./variables" as *;
@use "./abstracts/mixins" as *;
@use "./abstracts/animations" as *;

// BASE is for things like global site styles and typography.
@use "base/defaults";

// LAYOUT is for stuff like a grid system, topnav, footer, etc.
@use "layout/site-layout";
@use "layout/header";
@use "layout/footer";

// COMPONENTS is for stuff like buttons, cards, callouts, toasts, etc... Essentially - reusable rectangles.
@use "components/hgroup";
@use "components/beer-wine-card";
@use "components/bottle-card";
@use "components/drink-card";
@use "components/loading";

// PAGES is for any specific page template
@use "pages/home";
@use "pages/list";
@use "pages/essentials";
@use "pages/bottle";
@use "pages/drink";
@use "pages/about";
