@use "sass:color";
@use "@/assets/styles/variables" as *;

.home-navigation {
  display: flex;
  gap: 40px;
  min-height: $height-minus-chrome;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.nav-card {
  background-color: white;
  padding: $spacing-xl;
  border-radius: $border-radius-lg;
  text-align: center;
  flex-basis: 300px;
  color: $text-dark;
  aspect-ratio: 1/1;
  .count {
    font-size: 400%;
    font-weight: 200;
    color: $secondary-color;
  }
  p {
    font-size: 0.875rem;
  }

  box-shadow: $shadow-sm;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: $shadow-lg;
    transform: translateY(-0.5rem);
  }
}
